# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/website/local_settings.py
/website/public/static
/website/public/media

# Project database
*.db
db.sqlite3