{% extends 'weather/base.html' %}

{% block body %}



    {% if forecasts %}
    <div class="container-fluid">
        {% for forecast in forecasts %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>{{forecast.date}}</h3>
                            <p><strong>MIN TEMP:</strong> {{forecast.min_temp}}°C</p>
                            <p><strong>MAX TEMP:</strong> {{forecast.max_temp}}°C</p>
                            <p><strong>WIND:</strong> {{forecast.wind_speed}}km/h {{forecast.wind_direction}}</p>
                            <p><strong>CHANCE OF RAIN:</strong> {{forecast.rain}}%</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>No forecasts loaded yet</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/weather?page={{ page_obj.previous_page_number }}">newer</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/weather?page={{ page_obj.next_page_number }}">older</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}